*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
PPT_SLIDE_DESIGNS.md
PPT_SLIDE_IDEAS_ENHANCED.md
PRESENTATION_SCRIPT_ENHANCED.md
PRESENTATION_SCRIPT.md